# python files
__pycache__/

# IDEs
.vscode/

# project folders with big files
data/*
models/*
datasets_pre_defined/*

# datasets
*.txt
*.csv
*.json
*.jsonl
*.bz2
*.bzip2

# environments
venv/
.env

# temporary files
tmp/
cache/
eval/mteb_*

# loggers
.neptune/
wandb/
logs/

# keep some files
!.gitignore
!.gitkeep
